.App .card {
  height: 20rem;
  width: 15rem;
  border: 2px solid rgb(253, 201, 132);
  background-color: rgb(240, 225, 198);
  border-radius: 5px;
  margin: 10rem auto;
}

.App .card-text {
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
}
